body {
    width: 98%;
}

#error {
    color: red;
}

#del-button {
    position: relative;
    left: 40px;
    color: #007bff;
    text-decoration: none;
}

.in-out-up, .contact-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.in-out-up {
    text-align: left;
    width: 25%;
    background-color: #fff;
}

.contact-form {
    width: 40%;
}

/* Added this to make 'name' and 'email' sit on the same line */
.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    width: 48%; /* Adjusted to make space for two input groups side by side */
    margin-bottom: 10px;
}

.input-group-price {
    width: 5%;
    margin-bottom: 10px;
}

.input-group label,
.input-group input,
.input-group textarea {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
    min-height: 60px;
}

.thumbnails {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 190px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.image-description, 
.image-price {
    margin-top: 10px;
    text-align: left;
    padding: 5px 0;
}

.image-description {
    font-size: 1em;
}

.image-price {
    font-weight: bold;
    color: #333;
}

.card {
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
