body {
    width: 98%;
}

#error {
    color: red;
}

#del-button {
    position: relative;
    left: 40px;
    color: #331427;
    text-decoration: none;
}

.in-out-up,
.contact-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #60495e;
    text-align: left;
}

.in-out-up {
    width: 25%;
    background-color: #fff;
}

.contact-form {
    width: 40%;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group,
.input-group-price {
    margin-bottom: 10px;
}

.input-group {
    width: 48%;
}

.input-group-price {
    width: 5%;
}

.input-group label,
.input-group input,
.input-group textarea,
.input-group textarea,
input[type="submit"] {
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.input-group textarea {
    resize: vertical;
    min-height: 60px;
}

.thumbnails {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
}

.image-price {
    font-weight: bold;
    color: #333;
}

.card {
    width: 100%;
    height: fit-content;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px #60495e;
}

input[type="submit"] {
    background-color: #331427;
    color: #fff;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #331427;
}
